<%= render 'filter' %>

<% if @questions.blank? %>
  <% try_with = (@type == 'questions') ? 'entries' : 'questions' %>
  <p> <%= t("posts.list.empty.txt", try: t("posts.list.empty.#{try_with}")) %> </p>
<% else %>
  <%= render partial: 'question', collection: @questions, as: 'question' %>
<% end %>