<div id="questions">
	
	<ul class="nav nav-pills">
	  <li class="active"> <a href="#"> <%= t(:hot) %></a> </li>
	  <li><a href="#"> <%= t(:reputation) %> </a></li>
	  <li><a href="#"> <%= t(:most_recent) %> </a></li>
	</ul>
	
  <%= render @questions %>
  
	
</div>
