<div class="comments">
    <ul id='<%= "comments_#{commentable.id}" %>' class="row span10 offset1 comments_list">
      <%= render partial:'questions/comment', collection: commentable.comments, as: 'comment' %> 
    </ul>
    
    <div id="new_comment_<%= commentable.id %>" class="new_comment">
    </div>
</div>