<div id="main_nav" class="row">
  <div class="span10">
  	<ul>
      <% @filter = Hash.new if @filter.blank? %>
      <% params = { tag: @filter[:tag], search: @filter[:search]} %>
      <li id="questions"> 
        <%= link_to t("main_nav.questions_title"), questions_path(params.merge({type: 'questions'})) %>
      </li>
      <li id="entries"> 
        <%= link_to t("main_nav.entries"), questions_path(params.merge({type: 'entries'})) %>
      </li>
      <li id="tags"> 
        <%= link_to t("main_nav.tags"), tags_path() %>
      </li>
    </ul>
  </div>
  <div id="ask_question" class="span2">  
    <%= link_to raw("<i class='icon icon-bullhorn'> </i>"), pre_ask_questions_path, 
          class: "pull-right", title: t("questions.ask_question"), data: { toggle: 'tooltip', placement: 'top'} %>
  </div>
</div>
