<% provide(:title, (@user.name)) %>
<h1> <%= t :user_profile %> </h1>
<div id="profile">
  
  <%= render '/users/profile/menu' %>
  
  <%= render '/users/profile/personal' %>
  
</div>

<script type="text/javascript">
  Utils.activeMenuItem('main_nav', 'none');
</script>