<%  
question = activity.question
type = (question.post_type == 'Q') ? 'question' : 'entry'
whose = (question.user == current_user) ? 'notification.whose.yours' : 'notification.whose.user'%>
<span> 
  <%= link_to notification_url_of(question, notification) do %>
    <%= raw(notification.subject) %>
  <% end %>
</span>