@import "flatstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$bodyBackground: #FFF;
$grayMediumLight: #848484;
$orangeColor: #f58026;
$blueColor: #0088cc;
$btnPrimaryBackground: #FAA900;
$btnPrimaryBackgroundHighlight: #ffb332;
$textColor: #666;
$borderColor: #e6e6e6;
$linkColor: #898989;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	font-family: $sansFontFamily;
	font-weight: 300;
	background-color: $bodyBackground;
}

a {
	color: $linkColor;
	
	&:hover {
		color: $orangeColor;
		text-decoration: none;
	};
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 300;
}

h1 {
	font-size: 2.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* buttons */
.btn-primary {
	background-color: $btnPrimaryBackground;
	
	&:hover, &.disabled {
		background-color: $btnPrimaryBackgroundHighlight;
	}
}

/* miscellaneous */

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* header */

header {
	padding: 20px;
/*	height:41px;*/
	margin-bottom: 10px;
	.nav {
		height: 42px;
		display: block;
		
		&.signed_out li {
			a {
				color: #888;
				font-size: 16px;
				padding: 9px 12px;
				border: 1px solid #ddd;
				border-right: 0;
				background-color: #f9f9f9;
			
				&.search {
					background: none;
					border: none;
				}
			}
		
			&:last-child a {
				border-right: 1px solid #DDD;
			}
		}
	}
	
	li.search input { 
		float: left; 
		border: 0;
		border-bottom: 1px solid $orangeColor;
		line-height: 19px;
		display: none;
		margin-bottom: 0px;
		&:focus {
			border: 0;
			border-bottom: 1px solid $orangeColor;
		};
		
	}
}

.navbar .nav > li > a {
	float: left;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.5em;
	color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 14px;
	font-weight: bold;
	line-height: 1;
}


/*----- FOOTER -----*/

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #333;
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $borderColor;
	color: $grayLight;
	
	ul {
		list-style: none;
		li {
			margin-left: 10px;
		}
	}
}

/*----- NAVS -----*/
.nav-pills {
	a:hover {
		color: $linkColor;
	};
}

/*----- FORMS -----*/

label {
	font-size: 12px;
	text-transform: uppercase;
	color: #a4a4a4;
	margin: 25px 0 0 0;
  
  &.checkbox {
    text-transform: none;
  }
}

input[type=text], input[type=password], textarea, select, .uneditable-input {
	border: 1px solid #ddd;
	@include box_sizing;
	color: #333;
	padding: 11px 0 11px 10px;
	font-weight: 300;
	
	&:focus {
		border: 1px solid #a4a4a4;
	}
}

input[type=text], input[type=password], select, .uneditable-input {
  height: 19px;
}

#error_explanation ul li {
	list-style: disc;
}

/* Para evitar el fondo amarillo que pone chrome al autocompletar*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=submit] {
	text-shadow: none;
	font-weight: 300;
	font-size: 16px;
}

input {
	height: auto !important;
}

.inline_fields {
	float:left;
	width: 100%;
	input {
		float:left;
	}
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.form_errors {
  text-align: center;
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/*---------------*/
ul { 
	list-style: none;
}

/*----- MAIN HEADER -----*/
#main_nav {
  border-bottom: 1px solid $borderColor;
	margin-bottom: 20px;
	
  #ask_question {
    font-size: 1.2em;
    text-align: center;
		
    
    a {
      background-color: $btnPrimaryBackground;
      color: white;
      border-radius: 100px;
      padding: 10px 10px 10px 8px;
  		width: 20px;
  		height: 20px;
    }
	
  	& a:hover {
  		background-color: $orangeColor;
      color: white;
  	}
  }
  
  ul {
    margin-bottom: 1px;
    margin-left: 0px;
    
  	li {
  		font-size: 1.5em;
      margin-right: 40px;
/*      width: 180px;*/
      display: inline-block;
      @include box_sizing;

      
      &.active, &:hover {
        border-bottom: 2px solid $orangeColor;
        a {
          color: black;
          background-color: none;
        }
        small {
          color: gray;
        }
      }
      
      a {
        color: rgba(132, 132, 132, 0.45);
        text-transform: uppercase;
        padding: 10px 5px;
        display: inline-block;
      }
      
      &:last-child {
        margin-right: 0px;
      };
      
      small {
        font-size: 0.6em;
        color: rgba(132, 132, 132, 0.45);
        padding-left: 8px;
        margin-top: -7px;
        display: block;
        font-style: italic;
      }
  	}
  }
}

/*----- LOGIN -----*/
#sign_in {
	display: none;
	padding: 30px 0px;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 20px;
	
	form {
		margin-bottom: 0px;
	}	
	input[type=text], input[type=password] {
		padding: 11px 0 11px 10px;
		height: 19px;
	}
	.btn { 
		margin: 0px;
		font-size: 1.1em;
	}
	.forgot {
		font-size: 0.9em;
		text-align: right;
		margin-right: 75px;
	}
	
	.text-error {
		text-align: center;
	}
}

/*----- SIGN_UP -----*/
#sign_up {
	.form {
		border-right: 1px solid $borderColor;
		padding-right: 20px;
		p {
			color: #a4a4a4;
			font-size: 0.9em;
		} 
	}
	.description {
		p {
			font-size: 1.5em;
			color: #a4a4a4;
			margin-bottom: 40px;
		}
	}
	input[type=radio] {
		margin-right: 10px;
	}
}

#user_email, #user_name {
	display: block;
	width: 100%;
} 

#user_password, #user_password_confirmation {
	width: 50%;
}

#user_password_confirmation {
	border-left: 0;
}

/*----- QUESTIONS -----*/
#questions {
	
	
	.question {
		padding: 10px 0px;
		border-bottom: 1px solid $borderColor;
		
		&:first-child {
			padding-top: 0px;
		}
		
		.name {
			font-size: 0.9em;
		}
		
		small {
			color: $grayMediumLight;
		}
		
		.text {
			display:block;
			font-size: 1.2em;
			color: #333;
			
			&:hover {
				color: $orangeColor;
			}
		}
		
		.date {	
			font-size: 0.8em;  
			color: $grayMediumLight;
		}
		
		.votes {
			margin-top: 10px;
			color: $orangeColor;
			font-size: 1.5em;
			text-align: center;
			
			small {
				display: block;
				text-align:center;
				font-size: 0.5em;
				text-transform: uppercase;
			}
		}
		
	}
	
}


/*----- PROFILE -----*/
#profile {
  .form_errors { display: none; }
  aside {
    li.active a {
      background: #eee;
      color: $orangeColor;
    }
    i {
      float:right;
      line-height: 20px;
    }
    #profile_errors {
      display: none;
    }
  }
  .form label.first {
			margin-top: 0px;
	}
  input[type=file] {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
  }
  #file {
    margin-bottom: 10px;
  }
}

#crop_avatar {
  margin: auto;
  width: 600px;
  border: 1px solid $borderColor;
}