@import "flatstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$bodyBackground: #FFF;
$grayMediumLight: #eaeaea;
$orangeColor: #f58026;
$btnPrimaryBackground: #FAA900;
$btnPrimaryBackgroundHighlight: #ffb332;
$textColor: #666;
$borderColor: #e6e6e6;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 80px;
	font-family: $sansFontFamily;
	font-weight: 300;
	background-color: $bodyBackground;
}

a {
	color: #898989;
	
	&:hover {
		color: $orangeColor;
	};
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 400;
}

h1 {
	font-size: 2.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* buttons */
.btn-primary {
	background-color: $btnPrimaryBackground;
	
	&:hover {
		background-color: $btnPrimaryBackgroundHighlight;
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* header */

header {
	padding: 20px;
	.nav li {
		a {
			color: #888;
			font-size: 16px;
			padding: 9px 12px;
			border: 1px solid #ddd;
			border-right: 0;
			background-color: #f9f9f9;
			
			&.search {
				background: none;
				border: none;
			}
		}
		
		&:last-child a {
			border-right: 1px solid #DDD;
		}
	}
	
	li.search input { 
		float: left; 
		border: 0;
		border-bottom: 1px solid $orangeColor;
		line-height: 19px;
		display: none;
		&:focus {
			border: 0;
			border-bottom: 1px solid $orangeColor;
		};
		
	}
}

.navbar .nav > li > a {
	float: left;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.5em;
	color: black;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 14px;
	font-weight: bold;
	line-height: 1;
}

/* forms */
label {
	font-size: 12px;
	text-transform: uppercase;
	color: #a4a4a4;
	margin: 25px 0 0 0;
}

input[type=text], input[type=password], textarea, select, .uneditable-input {
	border: 1px solid #ddd;
	@include box_sizing;
	color: #333;
	padding: 11px 0 11px 10px;
	height: 19px;
	font-weight: 300;
	
	&:focus {
		border: 1px solid #a4a4a4;
	}
}

/* Para evitar el fondo amarillo que pone chrome al autocompletar*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=submit] {
	text-shadow: none;
	font-weight: 300;
	font-size: 16px;
}

input {
	height: auto !important;
}

.inline_fields {
	float:left;
	width: 100%;
	input {
		float:left;
	}
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}


/*----- LOGIN -----*/
#sign_in {
	display: none;
	padding: 30px 0px;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 20px;
	
	form {
		margin-bottom: 0px;
	}	
	input[type=text], input[type=password] {
		padding: 11px 0 11px 10px;
		height: 19px;
	}
	.btn { 
		margin: 0px;
		font-size: 1.1em;
	}
	.forgot {
		font-size: 0.9em;
		text-align: right;
		margin-right: 75px;
	}
	
	.text-error {
		text-align: center;
	}
}

/*----- SIGN_UP -----*/
#sign_up {
	.form {
		border-right: 1px solid $borderColor;
		padding-right: 20px;
		p {
			color: #a4a4a4;
			font-size: 0.9em;
		} 
	}
	.description {
		p {
			font-size: 1.5em;
			color: #a4a4a4;
			margin-bottom: 40px;
		}
	}
}

#user_email, #user_name {
	display: block;
	width: 100%;
} 

#user_password, #user_confirmation {
	width: 50%;
}

#user_confirmation {
	border-left: 0;
}

