// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orangeColor: #f58026;

/*----- ASK QUESTION -----*/
#how_to_ask {
  p {
    margin-bottom: 0px;
  }
  input[type=text] {
    margin-bottom: 0px;
  }
  .search_input {
    width: 600px;
  }
  .section {
    margin-bottom: 40px;
  }
  .proceed {
    color: #f58026;
  }
  .main_nav_title {
    color: rgba(132, 132, 132, 0.45);
    text-transform: uppercase;
    padding: 10px 5px;
    display: inline-block;
		border-bottom: 2px solid $orangeColor;
    color: black;
  }
  .continue i {
    background-color: #faa900;
    color: white;
    border-radius: 100px;
    padding: 9px 10px 10px 8px;
    width: 12px;
    height: 12px;
    font-size: 0.9em;
  }
  
}

#ask_question {
  h3 {
    margin-bottom: 20px;
  }
  input[type=text], textarea {
    width: 100%;
  }
  .token-input-list {
    width: 929px;
  }
  .decision {
    label {
      display: inline-block;
      line-height: 27px;
      margin: 0px 20px 0px 5px;
      vertical-align: text-top;
      margin-top: 0px;
    }
  }
}

div.token-input-dropdown {
  width: 950px !important;
}

/*----- SHOW QUESTION -----*/
#show_question {
  .question { 
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6; 
    margin-bottom: 15px;
    margin-left: 5px;
    
    .question_body {
      margin-bottom: 40px;
    }
    
    .comments {
      float: right;
      margin-right: 0px;
    }
    &:hover {
      .votes a, .actions { visibility: visible; }
    }
    
    .last_edition {
      display: block;
    }
  }
  
  p {
    font-size: 1em;
  }
  
  h4 {
    font-weight: bold;
    margin-top: 30px;
  }
  
  textarea {
    width: 100%;
  }
  
	.votes {
		color: #f58026;
    text-align: center;
	
    .number {
      font-size: 1.5em;
      text-align: center;
      vertical-align: text-top;
      min-width: 20px;
      display: inline-block;
    }
  
    a {
      visibility: hidden;
    }
  
		small {
      color: #848484;
			display: block;
			text-align:center;
			font-size: 0.7em;
			text-transform: uppercase;
		}
	}
  
  .actions {
    a {
      font-size: 0.9em; 
      color: $orangeColor;
      margin-right: 10px;
    }
    position: absolute;
    left: 20px;
    bottom: 5px;
    visibility: hidden;
  }
  
  #answers {
    margin: 20px;
    
    .answer {
      margin-bottom: 20px;
      
      .answer_body {
        position: relative;
        margin-top: 10px;
        min-height: 40px;
        padding: 5px 19px;
        border-style: solid;
        border-color: #e6e6e6;
        border-width: 0px 0px 1px 1px;
        margin-left: 0px;
      
        &:hover {
          .votes a, .leave_comment { visibility: visible; }
        }
      }
      
      .best_answer {
        color: $orangeColor;
      }
    }   
  }
  
  #cancel_answer_edit {
    display: none;
  }
  
  .comments {
    margin-top: 10px;
    margin-right: 10px;
    float:left;
    
    li {
      float: right;
      font-size: 0.9em ;
      margin-bottom: 5px;
      margin-right: 20px;
      text-align: right;
      width: 875px;
      
      .body {
        float: right;
        width: 70%;
        padding-top: 4px;
        display: inline-block;
      }
      .user {
        float: right;
        margin-left: 10px;
        a {
          line-height: 21px;
          display: inline-block;
          vertical-align: top;
          margin-top: 4px;
        }
      }
    }
    
  }
}

.new_comment {
  padding: 15px;
  display: none;
}

