#tags {
  .tags li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    .label {
      background: #999999;
      padding: 6px;
      
      &:hover {
        background: #faa900;
      }
    }
  }
}