<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
			<%= link_to "scholaris", "#", id: "logo" %>
			<nav>
        <ul class="nav pull-right">
          
        </ul>
      </nav>
      
    </div>
  </div>
</header>