<div id="terms">
  <h2> Términos y Condiciones Generales </h2>
  <p>
    Antes de utilizar los servicios y/o contenidos ofrecidos por scholaris, lea con atención los presentes Términos y Condiciones Generales (en adelante TyCG) que se aplican a la navegación del sitio www.scholaris.com.ar (en adelante, “el Sitio”).
  </p>
  
  <p>
    El uso que un individuo realice en el Sitio se considera lícito sólo si el mismo se adecua a las obligaciones impuestas acordes a los límites y alcances que se detallan en los presentes TyCG. Éstos tienen carácter obligatorio y vinculante. La utilización del Sitio por parte del “usuario” implica el conocimiento y la aceptación de estos TyCG. Por “usuario” se entiende a todo individuo que navegue el Sitio, tanto quienes estén registrados como quienes lo visiten.<br>
    Scholaris se reserva el derecho de modificar sin previo aviso y en el momento que considere necesario los TyCG. Las modificaciones entrarán en vigencia una vez que sean fijadas en el Sitio. Corresponde a los usuarios mantenerse actualizados sobre los posibles cambios en el apartado “Términos y condiciones” de scholaris. 
  </p>
  
  <h3> Sobre el registro de los usuarios </h3>
  <p>
    Cualquier usuario que visite el Sitio puede navegar por el contenido disponible. Sin embargo, para acceder a algunos servicios y/o contenidos específicos de scholaris es necesario registrarse con el objetivo de establecer la identidad e información del usuario. <br>
    La información que los usuarios provean en la registración poseerá carácter de declaración jurada, debiendo ser fidedignos los datos allí consignados. Scholaris no se hace responsable por los perjuicios que pudiera ocasionar a terceros el usuario que, en incumplimiento de esta norma, suministrare datos falsos.<br>
    Una vez registrado, todo usuario dispondrá de un nombre de usuario y contraseña que él mismo deberá escoger. El cuidado del nombre de usuario y contraseña es responsabilidad del usuario, debiendo informar inmediatamente si los mismos han sido revelados o si son utilizados por terceros a la dirección contacto@scholaris.com.ar Cada usuario registrado utilizará su cuenta en forma personal. No está permitido bajo ninguna circunstancia que un tercero utilice una cuenta registrada aún bajo el consentimiento del titular de la misma. Los usuarios se comprometen a mantener la información de registro actualizada debiendo comunicar cualquier modificación de la misma. <br>
    Scholaris se reserva el derecho de rechazar cualquier solicitud de registro y/o cancelar un registro anteriormente aceptado sin previo aviso y justificación. Esto no podrá generar ningún tipo de derecho en  beneficio del usuario.
  </p>
  
  <h3> Política de privacidad </h3>
  <p>
    Toda la información personal suministrada por los usuarios al Sitio es de carácter estrictamente confidencial. Scholaris intentará mediante todos los medios a su alcance mantener el carácter privado de dicha información de acuerdo a lo señalado por la Ley 25.326 sobre la Protección de los Datos Personales. Cada usuario tiene derecho a acceder a la información de su cuenta pudiendo modificarla cuando considere necesario, siempre que esto no quebrante las disposiciones de los TyCG. Asimismo, los usuarios podrán solicitar la baja de su cuenta y la eliminación de la información asociada a ella de la base de datos del Sitio. 
  </p>
  
  <h3> Sobre la información y/o contenido </h3>
  <p>
    La información y/o contenido publicado por los usuarios en el Sitio son responsabilidad personal de cada uno de ellos. Scholaris no garantiza su veracidad, siendo responsables exclusivos los usuarios de todo daño o perjuicio que esto ocasione en el resto de los usuarios o en terceros. <br>
    Las preguntas, respuestas, comentarios y aportes que realizan los usuarios en el Sitio no debe ser considerado bajo ninguna circunstancia un substituto del conocimiento especializado de los profesionales competentes. El uso que se haga de la información, los contenidos y/o servicios que ofrece el Sitio son de exclusiva responsabilidad del usuario. <br>
    Las expresiones utilizadas por los usuarios son de su absoluta responsabilidad, y de ningún modo representan las propias de scholaris. En caso que algún usuario se sienta afectado por las expresiones realizadas por otro en el Sitio, deberá realizar la denuncia correspondiente a los administradores del Sitio para que procedan a la supresión del mismo a contacto@scholaris.com     
  </p>
  
  <h3> De la interrupción del servicio </h3>
  <p>
    Scholaris se reserva el derecho de modificar, interrumpir temporal o definitivamente sus servicios, sin previo aviso ni consulta a los usuarios. Cualquiera de estas acciones no podrá generar derecho a reclamo o beneficio alguno de los usuarios. 
    Cualquier daño que pueda sufrir el equipo de los usuarios mientras permanecen en el Sitio no generará derecho a reclamo alguno, siendo exclusiva responsabilidad de los usuarios el cuidado y arreglo de los mismos.
  </p>
  
  <h3> Prohibiciones </h3>
  <p>
    Se encuentra expresamente prohibido que los usuarios envíen, reproduzcan o realicen links, a archivos u otros sitios con contenido ilegal, abusivo o difamatorio. Bajo ninguna circunstancia los usuarios están autorizados a utilizar scholaris para ofrecer servicios, productos u otro tipo de publicidad. Asimismo, se encuentra igualmente prohibida la utilización del Sitio con el fin de dañar mediante virus y/u otros elementos perniciosos los equipos de los usuarios así como el propio Sitio. <br>
    En ningún caso podrá utilizarse la imagen, logo y/o cualquier otro elemento identificatorio de scholaris sin previa consulta y autorización. Todo el contenido del Sitio es propiedad de scholaris, estando protegido por las leyes nacionales e internacionales relativas a la propiedad intelectual. 
  </p>
  
  <h3> Sobre la jurisdicción y legislación aplicable </h3>
  <p>
    Para todos los efectos judiciales que se deriven de los contenidos y/o servicios del Sitio, las partes se someten a la competencia ordinaria de la Provincia de Buenos Aires. Las implicancias legales tendrán como marco legal la legislación vigente en la República Argentina.
  </p>
</div>
